body {
	position: relative;
	margin: 140px 0 0;
	@media @md {
		margin-top: 80px;
	}
	@media @sm, @xs {
		margin-top: 0;
	}
}
#page-header {
	.transition(0.5s);
	.box-shadow(0 0 8px fade(#000,50));
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	padding: 40px 0;
	background: #fff;
	.header_on & {
		padding: 10px 0;
	}
	@media @md {
		padding: 10px 0;
	}
	@media @sm, @xs {
		position: relative;
		padding: 10px 0;
	}
	.logo {
		position: relative;
		float: left;
		width: 25%;
		padding: 0 16px 0 0;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0 0 20px;
		}
		&:before{
			.transition(0.5s);
			content: '';
			position: absolute;
			top: 100%;
			left: 50%;
			border: 63px solid transparent;
			border-bottom-width: 0;
			border-top: 30px solid #fff;
			margin: 40px 0 0 -53px;
			.header_on & {
				margin-top: 10px;
			}
			@media @md, @sm, @xs {
				display: none;
			}
		}
		a {
			img {
				display: block;
				margin: auto;
				@media @md, @sm, @xs {
					max-height: 60px;
				}
			}
		}
	}
}
.gallery {
	text-align: center;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			width: 281px;
			padding: 0 8px 20px;
			@media @md {
				width: 236px;
			}
			@media @sm {
				width: 33.3333%;
				margin: 0 -2px; 
			}
			@media @xs {
				width: 50%;
				margin: 0 -2px; 
			}
			a {
				display: block;
				position: relative;
				text-decoration: none;
				&:hover{
					img {
						-webkit-opacity: 0.7;
						-moz-opacity: 0.7;
						opacity: 0.7;
						filter:alpha(opacity=70);
					}
				}
				&:before{
					.fi;
					content: '\e80d';
					position: absolute;
					z-index: 1;
					top: -5px;
					left: -1px;
					font-size: 22px;
				}
				&:after{
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					border-left: 48px solid #fff;
					border-bottom: 48px solid transparent;
				}
				img {
					.transition(0.5s);
					display: block;
				}
			}
		}
	}	
}
.mod_menu-main {
	float: left;
	width: 75%;
	padding: 21px 0 0 55px;
	@media @md {
		padding: 15px 0 26px 20px;
	}
	@media @sm, @xs {
		float: none;
		width: auto;
		padding: 0 0 9px;
	}
	ul {
		.rul;
		display: table;
		width: 100%;
		li {
			.rli;
			display: table-cell;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1.2;
			font-weight: 900;
			text-align: center;
			vertical-align: middle;
			@media @md {
				font-size: 16px;
			}
			@media @sm {
				font-size: 16px;
			}
			@media @xs {
				display: block;
				padding: 10px 0 0;
			}
			&.active {
				a {
					color: @c2;
					border-color: @c2;
				}
			}
			a {
				text-decoration: none;
				color: #000;
				border-bottom: 1px solid transparent;
				&:hover{
					border-color: @c1;
				}
			}
		}
	}
}
.mod_custom-intro {
	position: relative;
	padding: 187px 0 0;
	background: url(../images/bg/01.jpg) no-repeat center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	@media @md {
		padding: 80px 0 0;
	}
	@media @sm, @xs {
		padding: 60px 0 0;
	}
	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: fade(#000,50);
	}
	h1 {
		position: relative;
		padding: 0 0 0 160px;
		text-transform: uppercase;
		color: #fff;
		font-size: 55px;
		line-height: 0.85;
		margin: 0 40px 116px;
		@media @md {
			margin: 0 0 80px;
		}
		@media @sm, @xs {
			margin: 0 0 40px;
			padding: 0;
			text-align: center;
		}
		&:before{
			.fi;
			content: '\e80b';
			position: absolute;
			left: 0;
			top: 50%;
			color: @c3;
			line-height: 1;
			font-size: 154px;
			margin: -73px 0 0;
			@media @sm, @xs {
				display: none;
			}
		}
		small {
			.fp;
			display: block;
			color: @c4;
			font-weight: normal;
			font-size: 36px;
			font-weight: 200;
			letter-spacing: 0.004em;
			margin: 10px 0 0;
		}
	}
	nav {
		text-align: right;
		@media @sm, @xs {
			text-align: center;
		}
		a {
			.transition(0.2s);
			display: inline-block;
			position: relative;
			z-index: 999;
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			font-size: 18px;
			line-height: 1.3;
			width: 196px;
			text-align: center;
			padding: 17px 8px 53px;
			&:hover{
				color: @c4;
				&:before{
					color: #fff;
				}
				&:after{
					background: @c4;
				}
			}
			&:before{
				.fi;
				.transition(0.2s);
				content: '\e808';
				position: absolute;
				top: 100%;
				left: 50%;
				width: 320px;
				font-size: 310px;
				line-height: 1;
				text-align: center;
				margin: -154px 0 0 -160px;
				color: @c4;
				text-shadow: none;
				height: 210px;
				overflow: hidden;
				@media @sm, @xs {
					font-size: 200px;
					margin-top: -110px;
				}
			}
			&:after{
				.transition(0.2s);
				content: '';
				position: absolute;
				top: 0;
				left: 36%;
				right: 36%;
				height: 2px;
				background: #fff;
			}
		}
	}
}
.mod_custom-about {
	position: relative;
	color: #fff;
	top: -230px;
	padding: 304px 0 0;
	margin: 0 0 -360px;
	height: 974px;
	background: url(../images/bg/02.png) no-repeat top;
	@media @md {
		padding: 270px 0 0;
	}
	@media @sm, @xs {
		top: 0;
		padding: 50px 0;
		margin: 0;
		height: auto;
		background: darken(@c3,5);
	}
	.mod-title {
		text-align: center;
		margin: 0 0 24px;
		h2 {
			display: inline-block;
			position: relative;
			text-transform: uppercase;
			font-size: 54px;
			line-height: 1.1;
			&:before, &:after{
				content: '';
				position: absolute;
				top: 50%;
				right: 100%;
				height: 4px;
				width: 50px;
				margin: -2px 35px 0 0;
				background: #fff;
				@media @sm, @xs {
					display: none;
				}
			}
			&:after{
				right: auto;
				left: 100%;
				margin-right: 0;
				margin-left: 35px;
			}
		}
	}	
	.content {
		line-height: 1.8;
		width: 50%;
		float: left;
		letter-spacing: 0.015em;
		padding: 0 25px 0 95px;
		@media @md {
			font-size: 19px;
			line-height: 1.5;
		}
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
			font-size: 19px;
			line-height: 1.5;
		}
	}
	.list {
		float: left;
		width: 50%;
		padding: 5px 95px 0 34px;
		@media @sm, @xs {
			float: none;
			width: auto;
			padding: 0;
		}
		ul {
			.rul;
			li {
				font-size: 18px;
				line-height: 1.3;
				margin: 0 0 20px;
				@media @md {
					font-size: 17px;
					margin: 0 0 15px;
				}
				&:before{
					top: 50%;
					margin: -16px 0 0;
				}
			}
		}
	}
}
.mod_custom-offer {
	position: relative;
	padding: 0 0 110px;
	@media @sm, @xs {
		padding: 0 0 50px;
	}
	.items {
		.clearfix;
		margin: 0 -20px 25px;
		.item {
			float: left;
			width: 50%;
			padding: 0 20px;
			margin: 0 0 40px;
			@media @sm, @xs {
				float: none;
				width: auto;
				margin: 0;
			}
			figure {
				float: left;
				width: 31.5%;
				padding: 0 8px;
				border-bottom: 4px solid @c3;
				@media @xs {
					float: none;
					width: auto;
				}
				img {
					display: block;
					margin: auto;
				}
			}
			.content {
				float: left;
				width: 68.5%;
				line-height: 1.8;
				padding: 10px 0 0 30px;
				@media @md {
					line-height: 1.4;
				}
				@media @xs {
					float: none;
					padding: 20px 0;
					width: auto;
				}
				h2 {
					.fp;
					text-transform: uppercase;
					color: @c2;
					font-size: 35px;
					font-weight: normal;
					margin: 0 0 30px;
					mark {
						.fh;
						display: block;
						color: @c2;
						font-weight: 900;
					}
				}
			}
		}
	}
}
.mod_custom-block {
	position: relative;
	z-index: 1;
	.mod-title {
		position: relative;
		padding: 43px 0 30px;
		min-height: 146px;
		background: @c1 url(../images/bg/03.jpg) bottom;
		@media @sm, @xs {
			background: @c2;
		}
		&:before{
			.fi;
			content: '\e808';
			position: absolute;
			top: 100%;
			left: 50%;
			width: 200px;
			margin: -87px 0 0 -100px;
			font-size: 154px;
			line-height: 1;
			height: 110px;
			text-align: center;
			overflow: hidden;
			color: @c3;
		}
		.container {
			text-align: center;
		}
		h2 {
			display: inline-block;
			position: relative;
			color: #fff;
			font-size: 54px;
			line-height: 1;
			font-weight: 900;
			text-transform: uppercase;
			@media @sm, @xs {
				font-size: 36px;
			}
			&:before, &:after{
				content: '';
				position: absolute;
				top: 50%;
				right: 100%;
				height: 4px;
				width: 50px;
				margin: -2px 35px 0 0;
				background: #fff;
			}
			&:after{
				right: auto;
				left: 100%;
				margin-right: 0;
				margin-left: 35px;
			}
		}
	}
	.content {
		line-height: 1.8;
		padding: 70px 0 60px;
		background: url(../images/bg/04.jpg) top;
		@media @sm, @xs {
			padding: 50px 0;
			background: #eaeded;
		}
		#zateplovani-fasad & {
			min-height: 608px;
			background-image: url(../images/bg/07.png);
			@media @md {
				background-image: url(../images/bg/04.jpg);
			}
			@media @sm, @xs {
				background: #eaeded;
			}
		}
	}
	.cols {
		.clearfix;
		margin: 0 0 0 -120px;
		@media @md {
			margin-left: -30px;
		}
		@media @sm, @xs {
			margin: 0;
		}
		.col {
			float: left;
			width: 50%;
			padding: 0 0 0 120px;
			text-align: left;
			@media @md {
				padding-left: 30px;
			}
			@media @sm, @xs {
				float: none;
				width: auto;
				padding: 0;
			}
		}
	}
	.container {
		text-align: center;
		h3 {
			.fp;
			font-weight: normal;
			color: @c2;
			font-size: 36px;
			line-height: 1.1;
			text-transform: uppercase;
			margin: 0 0 12px;
		}
		p {
			margin: 0 0 42px;
		}
		ul {
			margin: 36px 0 42px 23px;
			@media @sm, @xs {
				margin: 40px 0;
			}
			li {
				line-height: 1.2;
				margin: 0 0 18px;
				&:before{
					color: @c2;
					top: -1px;
				}
			}
		}
		.lead {
			font-size: 36px;
			line-height: 1.3;
			color: @c2;
			padding: 10px 0 35px;
			small {
				font-size: 20px;
				color: @c1;
			}
			p {
				margin: 0;
			}
		}
	}
	.gallery {
		clear: both;
		padding: 30px 0 15px;
		ul {
			li {
				a {
					&:after{
						border-left-color: #e9ebea;
					}
				}
			}
		}	
	}
}
.mod_custom-contact {
	position: relative;
	color: #fff;
	background: @c2;
	a {
		color: #fff;
	}
	.container {
		position: static;
	}
	.content {
		position: relative;
		z-index: 1;
		float: left;
		width: 66%;
		padding: 80px 220px 70px 0;
		@media @md {
			width: 75%;
		}
		@media @sm, @xs {
			padding: 40px 0;
			width: auto;
			float: none;
		}
		&:before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 1141px;
			bottom: 0;
			background: url(../images/bg/05.png) no-repeat right;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			background-size: cover;
			@media @sm, @xs {
				display: none;
			}
		}
		* {
			position: relative;
			z-index: 1;
		}
		h2 {
			font-size: 45px;
			margin: 0 0 26px;
			text-transform: uppercase;
			@media @sm, @xs {
				font-size: 36px;
			}
		}
		address {
			font-style: normal;
			margin: 0 0 20px;
			line-height: 1.8;
			mark {
				display: block;
				font-size: 36px;
				line-height: 1.2;
				margin: 0 0 10px;
				color: #fff;
				text-transform: uppercase;
			}
		}
		.phone, .email {
			position: relative;
			padding: 0 0 0 65px;
			margin: 0 0 30px;
			&:before{
				.fi;
				content: '\e810';
				position: absolute;
				left: 0;
				bottom: -5px;
				padding: 0 5px 8px;
				font-size: 36px;
				line-height: 1;
				border-bottom: 4px solid #fff;
			}
			mark {
				font-size: 36px;
				color: #fff;
				margin: 0 5px;
			}
		}
		.email {
			display: inline-block;
			width: 65%;
			vertical-align: top;
			margin-right: -4px;
			@media @sm, @xs  {
				width: auto;
				display: block;
				margin-right: 0;
			}
			&:before{
				content: '\e811';
				bottom: -16px;
			}
		}
		.id {
			display: inline-block;
			width: 35%;
			vertical-align: top;
			margin: 0 0 30px;
			margin-right: -4px;
			@media @sm, @xs {
				display: block;
				width: auto;
				margin-right: 0;
				padding: 0 0 0 65px;
			}
		}
	}
	.map {
		position: absolute;
		bottom: 0;
		right: 0;
		left: 45%;
		top: -230px;
		overflow: hidden;
		@media @sm, @xs {
			position: relative;
			padding: 0 0 50%;
			top: 0;
			left: 0;
		}
		iframe {
			position: absolute;
			top: -20%;
			left: -50%;
			border: 0;
			width: 200%;
			height: 200%;
			@media @sm, @xs {
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}
#page-footer {
	padding: 40px 0 100px;
	background: url(../images/bg/06.png) no-repeat;
	@media @sm, @xs {
		background: none;
		padding: 40px 0;
	}
	.copy {
		float: right;
		font-size: 15px;
		@media @sm, @xs {
			float: none;
			text-align: center;
		}
	}
	.xart {
		float: right;
		text-transform: uppercase;
		font-size: 12px;
		margin: 2px 0 0 52px;
		@media @sm, @xs {
			float: none;
			margin: 0 0 10px;
			text-align: center;
		}
		a {
			color: @c1;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 14px;
			margin: 0 0 0 10px;
			@media @sm, @xs {
				display: block;
				float: none;
				margin: 0 auto 5px;
			}
		}
	}
}
.mod_cookies {
	position: fixed;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	color: #fff;
	font-size: 15px;
	background: fade(@c2,80%);
	@media @sm, @xs {
		position: static;
	}
	p {
		margin: 5px 0;
	}
	nav {
		position: absolute;
		bottom: 100%;
		right: 20px;
		a {
			.btn;
			background: fade(@c2,80%);
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e80c';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}